<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <table>
        <tr>
            <th>글번호</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>글작성자</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>

            <td th:text="${board.boardPass}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr>
            <th>작성날짜</th>
            <td th:text="${board.createdAt}"></td>
            <!--            <td th:text="*{#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>-->
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr th:if="${board.fileAttached==1}">
            <th>image</th>
            <td th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
            </td>
        </tr>
    </table>
    <br>
    <button id="boardListBtn" th:onclick="board_List()">목록</button>
    <button id="boardUpdateBtn" th:onclick="board_sep(1)">수정</button>
    <button id="boardDeleteBtn" th:onclick="board_sep(2)">삭제</button>
    <br>
    <div id="boardDetail-Area">

    </div>
    <div id="commentBtn">
        <button id="commentWriteBtn" th:onclick="comment_write()">댓글쓰기</button>
    </div>
    <div id="comment-Area">
        <div th:if="${commentList==null}">
            <p>작성된 댓글이 없습니다.</p>
        </div>
        <div th:unless="${commentList==null}">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>writer</th>
                    <th>contents</th>
                    <th>date</th>
                </tr>
                <tr th:each="comment: ${commentList}">
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.commentWriter}"></td>
                    <td th:text="${comment.commentContents}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>

            </table>

        </div>
    </div>
</div>
<div th:replace="component/footer :: footer"></div>

</body>
<script th:inline="javascript">
    const comment_list = (commentList) => {
        const commentArea = document.querySelector("#comment-Area");
        let outPut = "<table class=\"table\">\n" +
            "                <tr>\n" +
            "                    <th>id</th>\n" +
            "                    <th>writer</th>\n" +
            "                    <th>contents</th>\n" +
            "                    <th>date</th>\n" +
            "                </tr>";
        for(let i in commentList){
            outPut += "<tr>\n" +
                "                    <td>"+commentList[i].id + "</td>\n" +
                "                    <td>"+commentList[i].commentWriter + "</td>\n" +
                "                    <td>"+commentList[i].commentContents + "</td>\n" +
                "                    <td>"+commentList[i].createdAt + "</td>\n" +
                "                </tr>";
        }
        outPut += "</table>";
        commentArea.innerHTML=outPut;

    }
    const board_List = () => {
        location.href = "/board/";
    }
    const comment_write = () => {
        const commentArea = document.getElementById("comment-Area");
        const bId = [[${board.id}]];

        console.log(bId);
        commentArea.innerHTML = `<form action="/comment/save/">
            <input type="text" name="commentWriter" id="commentWriter" placeholder="작성자입력">
            <input type="text" name="commentContents" id="commentContents" placeholder="내용입력">
            <input type="button" id="boardPassBtn" value="확인" onclick="comment_submit()">
            </form>`;

    }
    const comment_submit = () => {
        const cWriter = document.getElementById("commentWriter").value;
        const cContents = document.getElementById("commentContents").value;
        const bId = [[${board.id}]];

        console.log(bId);
        console.log(cWriter);
        console.log(cContents);

        axios({
            method: "post",
            url: "/comment/save",
            data: {
                boardId: bId,
                commentWriter: cWriter,
                commentContents: cContents
            }
        }).then(res => {
            const commentArea = document.querySelector("#comment-Area");
            console.log("res", res);
            comment_list(res.data);

        }).catch(err => {
            console.log("err", err);
        })


    }
    const board_sep = (type) => {
        boardDetailArea = document.getElementById("boardDetail-Area");
        boardDetailArea.innerHTML = `
            <input type="text" id="boardPassInput" placeholder="비밀번호 입력">
            <input type="button" id="boardPassBtn" value="확인" onclick="de_chk(${type})">`;
        const boardPassInputbox = document.getElementById("boardPassInput");
        // console.log(delCheckNum);
        boardPassInputbox.focus();
    }
    const de_chk = (type) => {
        const passDB = [[${board.boardPass}]];
        const boardId = [[${board.id}]]
        const boardPassInputBox = document.getElementById("boardPassInput");
        console.log(passDB);
        console.log(boardPassInputBox.value);
        if (boardPassInputBox.value == passDB) {
            if (type == 1) {
                location.href = "/board/update/" + boardId;
            } else if (type == 2) {
                location.href = "/board/delete/" + boardId;
            }
        } else {
            alert("비밀번호가 틀렸습니다.")
            boardPassInputbox.focus();
        }
    }

</script>
</html>