* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: #00A170;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
}

#nav {
    display: flex;
    padding: 10px 100px;
    background-color: #363945;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

#nav .menu {
    padding: 10px;
    color: white;
}

#nav .menu a {
    text-decoration: none;
    color: white;
}

#nav .search {
    margin-left: auto;
}

#section {
    background-color: white;
    padding: 20px;
    /*height: 300px;*/
}

#section h2 {
    text-align: center;
}

#section pre {
    text-align: left;
}

#footer {
    background-color: #9F9C99;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 50px;*/
    font-family: 'Prompt', sans-serif;
}

#footer h6 {
    margin: 0;
}













